<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/8.0/phpunit.xsd"
        bootstrap="vendor/autoload.php"
        colors="true">
    <testsuites>
        <testsuite name="Testes">
            <!-- <directory>src/Tests/Login/LoginTest.php</directory> -->
            <!-- <directory>src/Tests/Login/LoginTestCaptchaOn.php</directory> -->
            <!-- <directory>src/Tests/CascadeDeletion/AccountCascadeDeletionTest.php</directory> -->
            <!-- <directory>src/Tests/CascadeDeletion/UserCascadeDeletionTest.php</directory> -->
            <!-- <directory>src/Tests/CascadeDeletion/DeviceCascadeDeletionTest.php</directory> -->
            <!-- <directory>src/Tests/CascadeDeletion/TokenCascadeDeletionTest.php</directory> -->
            <directory>src/Tests/Addition/AccountAdditionTest.php</directory> -->
            <directory>src/Tests/Addition/DeviceAdditionTest.php</directory>
            <!-- <directory>src/Tests/Addition/CameraAdditionTest.php</directory>
            <directory>src/Tests/Addition/TokenAdditionTest.php</directory>
            <directory>src/Tests/Addition/GroupAdditionTest.php</directory> -->
        </testsuite>
    </testsuites>
     <logging>
        <log type="testdox-text" target="relatorio-teste.txt"/>
    </logging>
</phpunit>